@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital@0;1&display=swap');
body{
    font-family:'Open Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}
nav{
    height:80px;
    background:#2c3e50;

}